- hosts: truck_vm
  become: yes
  tasks:
    - name: Update system packages
      apt:
        update_cache: yes
        upgrade: dist

    - name: Disable root login
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'
      notify: Restart ssh

    - name: Ensure key-based authentication only
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'
      notify: Restart ssh

    - name: Install Nginx
      apt:
        name: nginx
        state: present

    - name: Enable and start Nginx
      service:
        name: nginx
        enabled: yes
        state: started

    - name: Deploy index.html
      template:
        src: templates/index.html.j2
        dest: /var/www/html/index.html
      notify: Reload nginx

    - name: Install UFW
      apt:
        name: ufw
        state: present

    - name: Enable UFW
      ufw:
        state: enabled

    - name: Configure UFW - Allow SSH
      ufw:
        rule: allow
        port: "22"
        proto: tcp

    - name: Configure UFW - Allow HTTP
      ufw:
        rule: allow
        port: "80"
        proto: tcp

  handlers:
    - name: Restart ssh
      service:
        name: ssh
        state: restarted
    - name: Reload nginx
      service:
        name: nginx
        state: reloaded